
html, body{
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;
}

:root{
  Base-Color:#1AC888;
  Lighter-green: #33BFA5;
  Darker-green: #009C6B;
  Deeper-green:#006340;
  Deeper-green:#46695c;
  Deeper-green:#3e3e3e43;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

form label{
  display: block;
}

.register form{
  box-shadow: 0 0 30px #0063405c;
  border-radius: 10px;
}

.register form i{
  color: #333;
}

.darkMode{
  color: #fff;
  background-color: hsl(207, 26%, 17%);
}

.darkMode .desktopLoggedInNav{
  background-color: hsl(207, 26%, 17%);
  border-right: 1px solid #595959;
}

.darkMode :is(.connectWalletBox, .userModal, .dashboardInfo, .swapDiv){
  background-color: hsl(207, 26%, 17%);
  box-shadow: 0 0 25px hsl(210, 13%, 21%) !important;
}

.darkMode #userProfileNavContainer{
  background-color: hsl(207, 26%, 17%);
  color: hsl(207, 26%, 17%);
}

.darkMode .userProfileDetails h1{
  color: #006340;
}

.darkMode .togglers{
  color: #006340;
}

.darkMode .topnav nav{
  color: #fff;
  background-color: hsl(207, 26%, 17%) !important;
  border-bottom: 1px solid #595959;
}
/* .successModal, .failureModal,  */
.darkMode :is(.otp-input, .changPasswordModal, .twoFactorModal, .fundModal, .verifyPaymentModdal, .market-nav, .marketToggler){
  background-color: hsl(207, 26%, 17%);
  color: #ffffff;
}

.darkMode .depositFee{
  color: #9CA3AF !important;
}

.darkMode .marketCard .footer div{
  border: 1px solid #505357a2;
  color: hsla(0,0%,100%,.92);
}

.darkMode input{
  color: #000;
}

.lightMode{
  color: #000;
  background-color: hsl(0, 0%, 100%);
  /* transition: .5s; */
}

.lightMode .swapDiv .logo, .lightMode .swapDiv .ri-arrow-down-s-line{
  background-color: hsl(0, 0%, 82%);
}

@keyframes loader {
  0% {
    left:0%;
    right:100%;
    width:0%;
  }
  10% {
    left:0%;
    right:75%;
    width:25%;
  }
  90% {
    right:0%;
    left:75%;
    width:25%;
  }
  100% {
    left:100%;
    right:0%;
    width:0%;
  }
}

.loader-parent::before {
  content:'';
  /* border:1px solid #630470;  */
  background-color: #fff;
  border-radius:10px;
  position:absolute;
  top:-4px; 
  right:-4px; 
  bottom:-4px; 
  left:-4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-parent .loading-bar { 
  position:absolute;
  border-radius:10px;
  top:0;
  right:100%;
  bottom:0px;
  left:0;
  background:#009C6B; 
  width:0;
  height: 4px;
  animation: loader 2s linear infinite;
}

.loadingBg{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 150vh;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader-parent { 
  width:100%; 
  margin:0 auto;
  border-radius:10px;
  border:4px solid transparent;
  position:relative;
  padding:1px;
}

.loader-container img{
  margin-bottom: 1rem;
}

.loaderImage2{
  display: none;
}

.market-nav{
  position: fixed;
  left: 20%;
  top: 15%;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 60px;
  z-index: 1;
  background-color: #fff;
  padding: 18px 20px;
  border-radius: 50px;
  border: 1px solid #595959;
}

/* ANIMATED CANCELMARK STARTS */
.cancel {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #ec4848;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}


.check__cancel {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
      stroke-dashoffset: 0;
  }
}

@keyframes scale {

  0%,
  100% {
      transform: none;
  }

  50% {
      transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
      box-shadow: inset 0px 0px 0px 30px #ec4848;
  }
}

/* ANIMATED CANCELMARK STARTS */

/* ANIMATED CHECKMARK STARTS */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #00ff8c;
  animation: successFill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
      stroke-dashoffset: 0
  }
}

@keyframes scale {

  0%,
  100% {
      transform: none
  }

  50% {
      transform: scale3d(1.1, 1.1, 1)
  }
}

@keyframes successFill {
  100% {
      box-shadow: inset 0px 0px 0px 30px #00ff8c;
  }
}

/* ANIMATED CHECKMARK ENDS */


/* TOGGLE SWITCH STARTS */
/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00ff8c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00ff8c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* TOGGLE SWITCH ENDS */

.landingPage nav a{
  color: #fff;
}

.toggler i{
  color: #fff;
}

.toggler{
  display: none;
}

.landingPage{
  /* background: linear-gradient(to right, #69BFAD, #380036); */
  background: linear-gradient( #000000b3, #000000ed), url("../src/assets/images/spinning-globe-white.gif");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.landingPage main{
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landingPage main .coin1{
  filter: drop-shadow(10px 10px 10px rgb(128, 128, 128));
  animation: 5s linear 0s moveY infinite;
  transform: rotate(120%);
}

.landingPage main .coin2{
  filter: drop-shadow(10px 10px 10px rgb(61, 61, 61));
  animation: 5s linear 0s moveY infinite;
  filter: blur(3px)
}

nav ul .login-btn{
  display: none;
}

@keyframes moveY {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-10%);
  }
}

footer{
  border-top: 1px solid #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a{
  color: #fff;
  font-size: 10px;
}

footer i{
  font-size: 16px;
}

.sign-in-form {
  box-shadow: 0 0 20px #0000007b;
}

.sign-in-form .inputs div{
  border-bottom: 1px solid #ffffff;
}

.sign-in-form i, .sign-in-form p{
  color: #fff;
}

.continue-with-google {
  border: 1px solid #fff;
}

.or_line {
  height: 2px;
  width: 50px;
  background: #fff;
}

.login, .register{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.forgotPassword{
  background:url("./assets/images/FinalScenne-01..png"),linear-gradient(170deg,#f2fffd 20%,#69bfad 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.login-register-error{
  background-color: #F8D7DA !important;
  border: 1px solid #f5c2c7;
  color: #842029 !important;
  padding: 5px 18px;
  border-radius: 6px;
  font-size: 14px;
}

.successModalBg, .confirmProjectInvestModalBg, .errorModalBg, .otp-input-field-bg, .changePasswordModalBg, .twoFactorModalBg, .tokenModalBg, .verifyPaymentModdalBg, .dashboardContentLoaderBg{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.891);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.successModalBg, .errorModalBg{
  z-index: 100;
}

.successModal, .failureModal, .otp-input, .confirmProjectInvestModal, .changPasswordModal, .twoFactorModal, .verifyPaymentModal{
  background-color: #fff;
  color: #000;
  padding: 2rem;
  border-radius: 10px;
  width: 40%;
  text-align: center;
  margin: auto;
  font-size: 18px;
}

.tokenModal{
  background-color: #fff;
  color: #000;
  padding: 1rem;
  border-radius: 10px;
  width: 30%;
  text-align: center;
  margin: auto;
  font-size: 18px;
}

.otp-input input, .tokenModal input{
  border: 1px solid #000000;
  outline: none;
  width: 100%;
  padding: 5px 10px;
  border-radius: 6px;
}

.changPasswordModal input{
  border: 1px solid rgba(10, 46, 101, 0.263)
}

.successModal i{
  font-size: 50px;
  color: #83B943;
}

.failureModal i{
  font-size: 50px;
  color: rgb(209, 0, 0);
}

.successModal button, .failureModal button{
  background-color: #1AC888;
  font-size:18px;
  color: #fff;
  padding: 6px 10px;
  margin-top: 10px;
  border-radius: 6px;
}

.market{
  /* background: linear-gradient(170deg,#f2fffd 20%,#69bfac 100%); */
}

/* dashboard */


.swapContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.swapDiv{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 31%;
  box-shadow: 0 0 30px #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 10px; */
  border-radius: 10px;
}

.swapDiv .from:nth-child(1){
  margin-bottom: -10px;
}

.swapDiv .from:nth-child(3){
  margin-top: -10px;
}

.walletsModalBg, .modalBg{
  width: 100%;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333bc;
  z-index: 9;
}

.walletsModal{
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  width: 40%;
}

.userProfileDetailsContainer{
  display: grid;
  padding:3rem 5rem;
}

.marketCardContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1rem 0;
}

.marketCard{
  box-shadow: 0 0 10px #00000066;
  border-radius: 16px;
}

.marketCard .firstImage{
  border-radius: 20px 20px 0 0;
  border: none;
}

.marketCard img{
  border: 2px solid #fff;
}

.marketCard .footer div{
  border: 1px solid #cfcfcf;
}

.marketInfoFirstSection{
  width: 85%;
  margin-left: auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  place-items: start;
  gap: 2rem;
  padding: 2rem 2rem 7rem;
}

.tabBtn{
  border-bottom: 1px solid #333;
}

.tabBtn{
  cursor: pointer;
}

.mobileNavLoggedInNav{
  display: none;
}

.logo1{
  display: block;
}

.logo2{
  display: none;
}

.ri-phone-line{
  display: none;
}

.togglers{
  display: none;
}

.marketPlace .marketCardContainer{
  padding-bottom: 6.5rem;
}

.marketToggler{
  display: none;
}


@media screen and (max-width:1244px) {
  .landingPage main{
    padding-left: 35px;
    padding-right: 35px;
  }

  .landingPage main h1{
    font-size: 33px;
  }

  .register form{
    /* width: 40%; */
  }
}

@media screen and (max-width:1200px) {
  .swapDiv{
    width: 40%;
  }

  .marketPlace .marketCardContainer{
    width: 90%;
    left: 0;
  }

  .desktopLoggedInNav{
    display: none !important;
  }

  .mobileNavLoggedInNav{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #F4F7FA;
    left: 0;
    padding: 1rem;
    z-index: 99;
  }

  .userProfileDetails{
    padding-left: 0 !important;
    margin-bottom: 4rem;
  }

  #dashboard{
    right: 0;
    left: 0;
    padding: 150px 3rem;
  }

  .logo-container{
    width: auto !important;
  }

  .logo1{
    display: none;
  }

  .logo2{
    display: block;
    width: 40px;
  }

  #userProfileNavContainer{
    left: 5%;
  }

  .marketInfoFirstSection{
    width: 100%;
  }

  .market-nav{
    left: 5%;
    top: 20%;
  }

}

@media screen and (max-width:992px) {

  .swapDiv{
    width: 50%;
  }

  .landingPage main .coin2{
    right: 50px;
  }

  .coins-div{
    top: 25px !important;
    margin-bottom: 8rem;
  }

  #dashboard > div h3{
    margin-bottom: 10px;
  }

  #dashboard{
    right: 0;
    left: 0;
    padding: 150px .8rem;
  }

  .market-nav{
    padding: 9px 10px;
    gap: 30px;
    font-size: 14px;
  }

  .successModal, .failureModal, .otp-input, .confirmProjectInvestModal, .changPasswordModal, .twoFactorModal, .verifyPaymentModal{
    width: 55%;
  }
}

@media screen and (max-width:768px) {

  .swapDiv{
    width: 60%;
  }

  .mobileNavLoggedInNav{
    padding: .5rem 1rem;
  }

  .mobileNavLoggedInNav li{
    flex-direction: column;
    gap: 1px;
  }

  .nav-login{
    display: none;
  }

  .nav ul .login-btn{
    display: block;
  }

  .landingPage main{
    flex-direction: column-reverse;
    height: 100%;
    padding-bottom: 3rem;
  }

  .landingPage main .coin1{
    width: 30%;
    right: -72px;
    top: 86px;
  }

  .landingPage main .coin2{
    width: 25%;
    top: 150px;
    right: 45px;
  }

  .coins-div{
    justify-self: flex-end;
    top: 30% !important;
  }

  /* br {
    content: "/";
  } */

  .landingPage main .text-div{
    width: 70%;
    padding: 9rem 0 3rem;
  }

  .landingPage main .text-div h1{
    font-size: 25px;
  }

  .landingPage main .text-div p{
    font-size: 15px;
  }

  .successModal, .failureModal, .otp-input, .confirmProjectInvestModal, .changPasswordModal, .twoFactorModal, .verifyPaymentModal{
    width: 75%;
  }

  /* .successModal, .failureModal{
    width: 60%;
  } */

  #dashboard .connectWalletBox button{
    margin-top: 3rem;
  }

  #dashboard .connectWalletBox .changing-text{
    /* margin-top: 3rem; */
    display: none;
  }

  .userProfileDetailsContainer{
    padding: 3rem;
  }

  .marketInfoFirstSection{
    grid-template-columns: 1fr;
  }

  footer{
    /* position: relative; */
    background-color: #000;
  }
}

@media screen and (max-width:600px) {

  .swapDiv{
    width: 70%;
  }

  .landingPage main .text-div{
    text-align: center;
    width: 85%;
  }

  .connectWalletBox{
    padding: 4rem 0 !important;
  }

  .connectWalletBox img{
    width: 30% !important;
  }

  .connectWalletBox div{
    text-align: center !important;
  }

  #dashboard .connectWalletBox button{
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .ri-phone-line{
    display: block;
  }

  .togglingNav{
    position: fixed;
    background-color: #F4F7FA;
    right: 3%;
    bottom: -20%;
    transition: .5s;
    padding: 20px;
    flex-direction: column;
    box-shadow: 0 0 20px #c2c2c2;
  }

  .togglers{
    display: block;
  }

  .togglers .ri-close-fill{
    display: none;
  }

  .togglingNav p{
    display: none;
  }
}

@media screen and (max-width:480px) {

  .swapDiv{
    width: 80%;
  }

  .loader-parent { 
    width:70%; 
  }

  .loaderImage1{
    display: none;
  }

  .loaderImage2{
    display: block;
    width: 50%;
  }

  .mobileNavLoggedInNav p{
    display: none;
  }

  .landingPage main .text-div{
    width: 95%;
    padding-bottom: 5rem;
  }

  .landingPage main .text-div h1{
    font-size: 20px;
  }

  .landingPage main .coin1{
    right: -71px;
    width: 30%;
  }

  .landingPage main .coin2{
    top: 140px;
    width: 25%;
    right: 20px;
  }
 
  .successModal, .failureModal, .otp-input, .confirmProjectInvestModal, .changPasswordModal, .twoFactorModal, .verifyPaymentModal{
    width: 85%;
    font-size: 16px;
  }

  .successModal p, .failureModal p, .successModal button, .failureModal button{
    font-size: 18px;
  }

  .marketCardContainer{
    margin-top: 6rem !important;
  }

  .market-nav{
    flex-direction: column;
    border-radius: 10px;
    left: -50%;
    transition: .5s;
  }

  .marketToggler{
    display: block;
  }
  
  .showMarketNav{
    left: 5%;
    transition: .5s;
  }

  footer{
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    /* position: relative; */
  }

  .register form{
    /* width: 80%; */
  }
}

@media screen and (max-width:375px) {
  
  .swapDiv{
    width: 95%;
  }

  .swapDiv h3{
    font-size: 20px;
  }

  .landingPage main .text-div{
    width: 100%;
  }

  .landingPage main .text-div h1{
    font-size: 20px;
  }

  .landingPage main .text-div p{
    font-size: 14px;
  }
  
  .landingPage main .coin1{
    filter: drop-shadow(3px 3px 10px rgb(128, 128, 128));
  }

  #dashboard .connectWalletBox button{
    margin-top: 3.7rem;
  }

  #dashboard .connectWalletBox button p{
    font-size: 18px;
  }

  #dashboard .connectWalletBox h3{
    font-size: 20px;
  }

    
  .successModal, .failureModal, .otp-input, .confirmProjectInvestModal, .changPasswordModal, .twoFactorModal, .verifyPaymentModal{
    width: 92%;
    padding: 2.5rem 1rem 2rem;
  }
}