
html, body{
  font-family: "Poppins", sans-serif !important;
}

.landingPage nav a{
  color: #fff;
}

.landingPage{
  /* background: linear-gradient(to right, #69BFAD, #380036); */
  background: linear-gradient( #000000b3, #000000ed), url("../src/assets/images/spinning-globe-white.gif");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.landingPage main{
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landingPage main .coin1{
  filter: drop-shadow(10px 10px 10px rgb(128, 128, 128));
  animation: 5s linear 0s moveY infinite;
  transform: rotate(120%);
}

.landingPage main .coin2{
  filter: drop-shadow(10px 10px 10px rgb(61, 61, 61));
  animation: 5s linear 0s moveY infinite;
  filter: blur(3px)
}

@keyframes moveY {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-10%);
  }
}

footer{
  border-top: 1px solid #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a{
  color: #fff;
  font-size: 10px;
}

footer i{
  font-size: 16px;
}

.sign-in-form {
  box-shadow: 0 0 20px #0000007b;
}

.sign-in-form a {
  /* color: #83B943; */
}

.sign-in-form .inputs div{
  border-bottom: 1px solid #ffffff;
}

.sign-in-form i, .sign-in-form p{
  color: #fff;
}

.continue-with-google {
  border: 1px solid #fff;
}

.or_line {
  height: 2px;
  width: 50px;
  background: #fff;
}
/* linear-gradient(170deg,#f2fffd 20%,#69bfad 100%); */
.login{
  background:url("./assets/images/FinalScenne-01..png"),linear-gradient(170deg,#f2fffd 20%,#69bfad 100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

input::placeholder{
  color: #fff !important;
}

.register{
  height: 100vh;
  overflow: hidden;
}

.login-register-error{
  background-color: #F8D7DA !important;
  border: 1px solid #f5c2c7;
  color: #842029 !important;
  padding: 5px 18px;
  border-radius: 6px;
  font-size: 14px;
}

.register form{
  width: 30%;
  padding-top: 20rem;
  height: 70% !important;
  overflow-y: scroll;
}

br {
  content: " ";
}

@media screen and (max-width:1244px) {
  .landingPage main{
    padding-left: 35px;
    padding-right: 35px;
  }

  .landingPage main h1{
    font-size: 33px;
  }
}

@media screen and (max-width:992px) {
  .landingPage main{
    /* flex-direction: column-reverse; */
  }

  .landingPage main .coin1{
    /* width: 30%; */
  }

  .landingPage main .coin2{
    /* width: 25%; */
    right: 50px;
  }

  .coins-div{
    top: 25px !important;
    margin-bottom: 8rem;
  }
}

@media screen and (max-width:768px) {
  .landingPage main{
    flex-direction: column-reverse;
  }

  .landingPage main .coin1{
    width: 30%;
    right: -72px;
    top: 86px;
  }

  .landingPage main .coin2{
    width: 25%;
    top: 150px;
    right: 45px;
  }

  .coins-div{
    justify-self: flex-end;
  }

  br {
    content: "/";
  }

  /* .landingPage main .text-div{
    width: 70%;
    margin: 4rem 0;
  } */

  .landingPage main .text-div{
    width: 70%;
    margin: 4rem 0;
    /* text-align: center; */
  }

  .landingPage main .text-div h1{
    /* width: 70%; */
  }

  footer{
    position: relative;
  }
}

@media screen and (max-width:600px) {
  .landingPage main .text-div{
    text-align: center;
    width: 85%;
  }
}

@media screen and (max-width:480px) {
  .landingPage main .text-div{
    width: 95%;
  }

  .landingPage main .text-div h1{
    font-size: 25px;
  }

  .landingPage main .coin1{
    right: -38px;
    width: 40%;
  }

  .landingPage main .coin2{
    top: 175px;
    width: 35%;
    right: 20px;
  }
}